@mixin clear-fix{
  &:before, &:after{ content: "\0020"; display: block; height: 0; visibility: hidden;} 
  &:after{ clear: both; }
  zoom: 1;
}

@mixin font-face($family, $url){
  @font-face{
    font-family: $family;
    src:  url('#{$url}.eot');
    src:  url('#{$url}.eot?#iefix') format('eot'),
          url('#{$url}.woff') format('woff');
    font-weight: normal;
    font-family: normal;
  }
}


/* Tables */

@mixin rowgroup{
  width: 100%; 
  margin: 0px; 
  padding: 0px; 
  display: table-row-group;
}

@mixin row{
  display: table-row;
  width: 100%;
  min-height: 20px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

@mixin col{
  margin: 0px;
  padding: 5px 10px;
  display: table-cell; 
  vertical-align: middle;
}