body{ font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-size: 12px; color: #444; }



/* ---------------------------------------------------------------------------------------------------
	headings
----------------------------------------------------------------------------------------------------*/

h1{ font-size: 23px; padding-bottom: 15px; }
h2{ font-size: 19px; }
h3{ font-size: 17px; }
h4{ font-size: 15px; }
h5{ font-size: 13px; }
h6{ font-size: 11px; }

/* ---------------------------------------------------------------------------------------------------
	lists
----------------------------------------------------------------------------------------------------*/

ul.circle{ list-style-type: circle; }
ul.disc{ list-style-type: disc; }
ul.square{ list-style-type: square; }
ol.lower-roman{ list-style-type: lower-roman; }
ol.upper-roman{ list-style-type: upper-roman; }
ol.lower-alpha{ list-style-type: lower-alpha; }
ol.upper-alpha{ list-style-type: upper-alpha; }
