.block-head
  - if !alternative_resource_class.nil?
    = link_to "Back to #{alternative_resource_class.name.tableize.humanize.downcase} list", send([namespace, alternative_resource_class.name.tableize].compact.join("_") + "_path"), :class => :back
  - else
    = link_to "Back", "javascript:histroy.back()", :class => :back
