- if self.methods.include?(:resource_class) && !resource_class.nil?
  - if resource.errors.any?
    #errorExplanation
      %h3= #"#{pluralize(resource.errors.count, "error")} prevented this from being saved:"
      %ul
        -# resource.errors.full_messages.each do |message|
          %li=# message
- else
  #errorExplanation
    %h3= "99 errors prevented this from being saved:"
    %ul
      %li Name cannot be blank
      %li email is invalid