<p id="markdown">
	<%= t("manage.markdown.description") %> <%= link_to t("manage.markdown.link"), "http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet", :target => "_blank" %>
</p><!-- #markdown -->