- if ['index', 'archived'].include? controller.action_name
  %aside.side-tabs
    - if content_for? :subtitle
      %h3= yield :subtitle
    
    %section
      = render :partial => 'adminv/side_tabs'
    
    %section.actions
      = yield :sidebar_left
