<dl class="account">
	<dt><span>Logged in as</span> Adminv User</dt>
	<dd class="role">(Super Administrator)</dd>
	<dd class="gravatar"><%= image_tag("adminv/gravatar.jpg", { :alt => "Gravatar" }) %></dd>
</dl><!-- .account -->