/* Table Accordions */	

.table.accordion{
  display: none;

  &.initialized{
    display: table;
    .col{ 
      float: left;
      &.actions{
        float: right;
      }
    }
  }
  
  .row{
    .details{ 
      display: none; /* hide by default */
  		float: left;
  		width: 100%;
  		padding: 10px 20px 10px 20px;
  		margin: 0px;
  		background: #fffce5;
  		border-top: 1px solid #ddd;
  		border-bottom: 1px solid #ddd;
  		-webkit-box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		box-sizing: border-box;		
  		
  		.table{
  		  float: none;
        li{
				  float: none;
				  display: table-row;
				  label, 
				  input{
  					display: table-cell;
  					float: none;
  					padding: 5px 0px;
  					width: auto;
  				}
  				input{
  				  width: 100%; 
  				}
        }
  		}
  	}
  	
  	select{
			float: left;
			display: inline-block;
		}
  	
  	&.expanded .col.edit{ 
  		opacity: 1;
  		filter: alpha(opacity=100);
  	}
  }
}