.block { 
  float: left;
  @include grid-column(9);
  
  /* Types */
	&.hint .block-container { background: #fbfde0; border-color: #eae8b6; }
	&.tab-offset { margin-top: 40px; }
	
  /* Block Head */
  .block-head {
		float: left;
		border: #DDDDDD 1px solid;
		padding: 10px 15px;
		margin-bottom: 20px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		a.back {
			background: url("adminv/ui-icon_back-arrow.png") no-repeat scroll 0 50% transparent;
 			padding-left: 12px;
 			color: #4183C4;
			text-decoration: none;
			font-weight: bold;
			font-size: 12px;
			&:hover { text-decoration: underline; }
		}
	}
	
	/* Block Tabs */
	.block-tabs {
		width: 100%;
		float: left;
		ul {
      list-style: none;
      float: left;
      display: block;
      border-right: 1px solid #CCC;
      margin: 0px 0px 1px 0px;	
      clear: both;
      li {
				float: left;
				display: block;
				a {
					background: #FFFFFF;
					border-top: #CCC 1px solid;
					border-left: #CCC 1px solid;
					display: block;
					font-weight: bold;
					padding: 10px 20px;
					position: relative;
				}
				&.ui-tabs-selected a {
					background: #F1F2F2;
					display: block;
					padding-bottom: 12px;
				}
			}
		}
	}


	/* Block Container*/
	.block-container {
		width: 100%;
		float: left;
		margin-top: -2px;
		margin-bottom: 20px;
		border: 1px solid #CCC;
	
  	/* Block Tab */
  	.block-tab {
  		float: left;
  		display: block;
  	  width: 100%;
  	}
  		
    /* Block Header */
		.block-header {		
			background: #F1F2F2;
			border-bottom: 1px solid #CCC;
			padding: 5px 20px;	
			width: 100%;
			float: left;
			vertical-align: middle;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;	
		  
		  h2, h3, h4 {
				float: left;
				line-height: 30px;
			}
			
			/* Block Description */
			.block-description {
				float: left;
				display: block;
			}
			
			/* Block Toggles */
			.block-toggles {
				display: block;
				float: right;
				list-style: none;
				margin: 2px 0px;
				li {
				  margin: 0px; 
				  a {
				    float: left;
				  }
				}
		  }			
		}

    /* Block Content */
		.block-content {
			width: 100%;
			padding: 20px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;			
			float: left;
		}
	
    /* Block Controls */
		.block-controls {
			width: 100%;
			float: left;
			background: #F1F2F2;
			border-top: 1px solid #CCCCCC;
			margin-top: 5px;
			
			/* Block Actions */
			.block-actions {
				float: right;		   
				padding: 10px 20px;
				min-height: 25px;
			}
			
			/* Block Pagination */
			.block-pagination {
				float: left;
				ul {
					list-style: none;
					float: right;
					li {
						float: left;
						display: inline-block;
						height: 100%;
						a, span{
              background: #F1F2F2;
              float: left;
              padding: 0px 20px;
              height: 100%;
              position: relative;
              vertical-align: middle;
              line-height: 40px;
						}
						&.current span {
              background: #FFF;
              border-left: 1px solid #CCC;
              border-right: 1px solid #CCC;
              top: -1px;
            }
					}
				}  
			}	
    }
  }
}

		
				    
//// Links
/* Block */
.block-tabs a,
.block-pagination a,
.block-pagination span { font-size: 12px; color: #959595; line-height: 16px; font-weight: bold; text-decoration: none; }
.block-pagination span { color: #bfbfbf; }
.block-pagination .current span { color: #959595; } 
.block-tabs ul li.ui-tabs-selected a,
.block-tabs a:hover,
.block-pagination li a:hover { color: #111; }
.block-pagination li.current a:hover { color: #959595; }