/* Block Head */
.block-head{
	@include grid-column(9);
	@include border-radius(3px);
	@include box-sizing(border-box);
	border: #DDD 1px solid;
	padding: 10px 15px;
	margin-bottom: 20px;
	background: #fff;
	
	a.back{
    background: image-url('adminv/ui-icon_back-arrow.png') no-repeat scroll 0 50% transparent;
    padding-left: 12px;
    color: #4183C4;
    text-decoration: none;
		font-weight: bold;
		font-size: 12px;
		&:hover{ 
		  text-decoration: underline;
		}
	}
}


/* Block Title */
.block-title{
  @include grid-column(9);
  @include box-sizing(border-box);
  border: medium none;
  float: left;
  padding: 10px 15px;
}


/* Block */
.block{ 
  float: left;
  @include grid-column(9);
  background: #fff;
  
  /* Types */
	&.hint .block-container{ background: #fbfde0; border-color: #eae8b6; }
	&.tab-offset{ margin-top: 40px; }
	
	/* Block Tabs */
	.block-tabs{
		width: 100%;
		float: left;
		ul{
      list-style: none;
      float: left;
      display: block;
      border-right: 1px solid #CCC;
      margin: 0px 0px 1px 0px;	
      clear: both;
      li{
				float: left;
				display: block;
				a{
					background: #FFFFFF;
					border-top: #CCC 1px solid;
					border-left: #CCC 1px solid;
					display: block;
					font-weight: bold;
					padding: 10px 20px;
					position: relative;
				}
				&.ui-tabs-selected a{
					background: #F1F2F2;
					display: block;
					padding-bottom: 12px;
				}
			}
		}
	}


	/* Block Container*/
	.block-container{
		width: 100%;
		float: left;
		margin-top: -2px;
		margin-bottom: 20px;
		border: 1px solid #CCC;
	
  	/* Block Tab */
  	.block-tab{
  		float: left;
  		display: block;
  	  width: 100%;
  	}
  		
    /* Block Header */
		.block-header{		
			background: #F1F2F2;
			border-bottom: 1px solid #CCC;
			padding: 5px 20px;	
			width: 100%;
			float: left;
			vertical-align: middle;
			@include box-sizing(border-box);
		  
		  h2, h3, h4{
				float: left;
				line-height: 30px;
			}
			
			/* Block Description */
			.block-description{
				float: left;
				display: block;
			}
			
			/* Block Toggles */
			.block-toggles{
				display: block;
				float: right;
				list-style: none;
				margin: 2px 0px;
				li{
				  margin: 0px; 
				  a{
				    float: left;
				  }
				}
		  }			
		}

    /* Block Content */
		.block-content{
			width: 100%;
			@include box-sizing(border-box);			
			float: left;
			.block-inner{
        padding: 20px;
			}
		}
	
    /* Block Controls */
		.block-controls{
			width: 100%;
			float: left;
			background: #F1F2F2;
			border-top: 1px solid #CCCCCC;
			margin-top: 5px;
			
			/* Block Actions */
			.block-actions{
        list-style: none;        
        float: left;		 
        margin: 0px;  
        padding: 10px 20px 5px 20px;
        min-height: 25px;
			}
			
			/* Block Pagination */
      .block-pagination{
      	width: auto;
      	float: right;
      	display: block;	
      
      	ul{
      		width: 100%;
      		list-style: none;
      		float: left;
      		display: block;
      	
      		li{
      			float: left;
      			display: inline-block;
      			a{
              background: #F1F2F2;
              display: block;
              float: left;
              padding: 12px 20px;
              position: relative;
              text-decoration: none;
      			}
      			a.active{
              background: #FFF;
              border-left: 1px solid #CCC;
              border-right: 1px solid #CCC;
              top: -1px;
              height: 15px;
      			}
      		}
        }
      }	
    }
  }
}


		
				    
//// Links
/* Block */
.block-tabs a { font-size: 12px; color: #959595; line-height: 16px; font-weight: bold; text-decoration: none; }

