/*
	Name: Adminv
	URL: https://github.com/jordan-lewis/adminv
	Description: Simple and Clean HTML5 Rails-3 CMS Template.
	Version: 0.1.0
	Author: Jordan Lewis - https://github.com/jordan-lewis
	Author: Nicholas Bruning - https://github.com/thetron
*/

@import "base";


html{
  body{
    #wrapper{
      
      @import "includes/header";
      @import "includes/sub-nav";
      @import "includes/sidetabs";
      @import "includes/footer";
    
      #main{
        @include clear-fix;
        margin-top: 40px; 
		    padding-bottom: 50px;
      }
    }
  }
}



/* @group CSS3 Buttons Overrides */

.button.icon-only { 
	text-indent: -3000px;
	padding: 0.5em 1.7em 0.5em 1.2em;
}


/* @end */



/* Overview Lists */
dl.overview { font-size: 17px; }
dl.overview dt { font-weight: bold; }

dl.overview { 
	float: left;
	display: block;
}
dl.overview dt,
dl.overview dd {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}

dl.overview dt { 
	width: 170px;
	clear: left; 
}


/* @end */




