/*
	Name: Adminv-Changes
	Description: Add your own CSS here to extend the core Adminv CSS.
	URL: https://github.com/jordan-lewis/adminv
*/


header nav ul#site-menu { 
	max-width: 800px;
}






/* ---- */
	.block.actions .block-container {
		min-width: 50px;
		padding: 15px 15px 10px 15px;
	}
		.block.actions .block-container .button {
			margin: 0px 0px 5px 0px;
			min-width: 140px;
			float: left;
			clear: left;
		}

/* @end */
