/*
	Name: Adminv
	URL: https://github.com/jordan-lewis/adminv
	Description: Simple and Clean HTML5 Rails-3 CMS Template.
	Version: 0.1.0
	Author: Jordan Lewis - https://github.com/jordan-lewis
	Author: Nicholas Bruning - https://github.com/thetron
*/


@import "base";

html{
  height: 100%;
  body{
    
    display: table;
    height: 100%;
    width: 100%;
    background: url("adminv/bg-tile_page.gif") repeat scroll 0 0;
    
    @import "includes/header";
    @import "includes/sub-nav";
    @import "includes/sidetabs";
    @import "includes/footer";
  
    .container{
      @include grid-page;
    }
  
    #main{
      @include clear-fix;
      margin-top: 40px; 
	    padding-bottom: 50px;
    }
  }
}



/* @group CSS3 Buttons Overrides */

.button.icon-only{ 
	text-indent: -3000px;
	padding: 0.5em 1.7em 0.5em 1.2em;
}

.button{
  &.safe{
    @include linear-gradient(#aed36c, #7bac4c);
    color: #fff;
  	border-color: #6b9640;
  	border-bottom-color: #747d4a;
  	text-decoration: none; 
  	text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    &:hover,
    &:focus{
      @include linear-gradient(#bddb89, #96bd71);
    }      
    
    &:active,
    &.active{
      @include linear-gradient(#96bd71, #bddb89);
    }
  }
}




/* @end */



/* Overview Lists */
dl.overview{ font-size: 17px; }
dl.overview dt{ font-weight: bold; }

dl.overview{ 
	float: left;
	display: block;
}
dl.overview dt,
dl.overview dd{
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}

dl.overview dt{ 
	width: 170px;
	clear: left; 
}


/* @end */




